/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
/ {
    gpio_keys {
        compatible = "gpio-keys";
        ain1: a_in1 {
            label = "motor_a_in1";
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
        };
        ain2: a_in2 {
            label = "motor_a_in2";
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        };
        bin1: b_in1 {
            label = "motor_b_in1";
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
        };
        bin2: b_in2 {
            label = "motor_b_in2";
            gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        };
        stdby: stdby {
            label = "standby";
            gpios = <&gpio0 32 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        motorain1 = &ain1;
        motorain2 = &ain2;
        motorbin1 = &bin1;
        motorbin2 = &bin2;
        stdby = &stdby;
    };
};
