/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,shell-uart = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&pwm {
    status = "okay";
    pinctrl-0 = <&my_pwm_pinctrl>;
    pinctrl-names = "default";
    divider-frac-0 = <15>;
    divider-int-0 = <255>;
    pwm_leds {
        compatible = "pwm-leds";
        status = "okay";
        pwm_motor1: pwm_motor_1 {
            pwms = <&pwm 14 PWM_USEC(50) PWM_POLARITY_NORMAL>;
            label = "PWM_1";
        };
        pwm_motor2: pwm_motor_2 {
            pwms = <&pwm 15 PWM_USEC(50) PWM_POLARITY_NORMAL>;
            label = "PWM_2";
        };
    };
};

/ {
    gpio_keys {
        compatible = "gpio-keys";
        relay1: relay_1 {
            label = "relay_1";
            gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
        };
        relay2: relay_2 {
            label = "relay_2";
            gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
        };
        relay3: relay_3 {
            label = "relay_3";
            gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
        };
        relay4: relay_4 {
            label = "relay_4";
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
        };
        relay5: relay_5 {
            label = "relay_5";
            gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
        };
        relay6: relay_6 {
            label = "relay_6";
            gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
        };
        relay7: relay_7 {
            label = "relay_7";
            gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
        };
        relay8: relay_8 {
            label = "relay_8";
            gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        };
        dir1: dir_1 {
            label = "dir_1";
            gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
        };
        dir2: dir_2 {
            label = "dir_2";
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
        };
    };

    aliases {
        relay1 = &relay1;
        relay2 = &relay2;
        relay3 = &relay3;
        relay4 = &relay4;
        relay5 = &relay5;
        relay6 = &relay6;
        relay7 = &relay7;
        relay8 = &relay8;
        dir1 = &dir1;
        dir2 = &dir2;
        pwm1 = &pwm_motor1;
        pwm2 = &pwm_motor2;
    };

};

&pinctrl {
    my_pwm_pinctrl: my_pwm_pinctrl {
        group1 {
            pinmux = <PWM_7A_P14>,
                     <PWM_7B_P15>;
        };
    };
};
