/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/ {
    gpio_keys {
        compatible = "gpio-keys";
        relay1: relay_1 {
            label = "relay_1";
            gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
        };
        relay2: relay_2 {
            label = "relay_2";
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        };
        relay3: relay_3 {
            label = "relay_3";
            gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
        };
        relay4: relay_4 {
            label = "relay_4";
            gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
        };
        relay5: relay_5 {
            label = "relay_5";
            gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
        };
        relay6: relay_6 {
            label = "relay_6";
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
        };
        relay7: relay_7 {
            label = "relay_7";
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        };
        relay8: relay_8 {
            label = "relay_8";
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        relay1 = &relay1;
        relay2 = &relay2;
        relay3 = &relay3;
        relay4 = &relay4;
        relay5 = &relay5;
        relay6 = &relay6;
        relay7 = &relay7;
        relay8 = &relay8;
    };
};

&pwm {
    status = "okay";
    /* Define the PWM channels for motor A and B */
    //pwm_motor_a: pwm_motor_a {
    //    label = "PWM_MOTOR_A";
    //    ch0-pin = <15>; /* PWM pin for motor A */
    //};
};
